<template>
  <v-card style="padding: 20px ; margin: 20px">
    <v-layout align-center justify-center>
      <table>
        <tr v-for="(element, index) in tableData" :key="index">
          <td v-for="(e, i ) in element" :key="i">
            {{e}}
          </td>
        </tr>
      </table>
    </v-layout>

  </v-card>
</template>
<script>
import * as _ from 'lodash'
export default {
  name: 'Entity',
  props: ['data'],
  data() {
    return {
      tableData: []
    }
  },
  created() {
    // checking orientation horizontal
    this.tableData = _.zip.apply(_, this.data)
  },
  methods: {}
}
</script>
<style scoped>
td {
  border: 1px solid #a9a9a9;
  padding: 5px;
}
</style>
