<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" :fixed="fixed" app>
      <br><br><br>
      <v-list>

        <v-list-tile @click="$router.push('/')">
          <v-list-tile-action>
            <v-icon medium>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="title">Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push('/statistics')">
          <v-list-tile-action>
            <v-icon medium>info</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="title">Statistics</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push('/search')">
          <v-list-tile-action>
            <v-icon medium>search</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="title">Search</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark color="primary" fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text"> Detectify WDC</v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="$route.params.tableId">
        <v-tooltip bottom>
          <v-btn slot="activator" icon @click="previousPage" :disabled="diablePreviousButton">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <span>Previous Page</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn slot="activator" icon @click="nextPage" :disabled="diableNextButton">
            <v-icon>arrow_forward</v-icon>
          </v-btn>
          <span>Next Page</span>
        </v-tooltip>
      </div>
    </v-toolbar>
    <v-content>
      <router-view :key="$route.fullPath" />
    </v-content>
    <v-footer :fixed="fixed" app height="auto" color="primary lighten-1" inset>
      <v-layout justify-center row wrap white--text>
        &copy; 2018 --
        <strong>Rigved Patki</strong>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      fixed: false,
      drawer: null
    }
  },
  methods: {
    previousPage() {
      const number = parseInt(this.$route.params.tableId) - 1
      this.$router.push(`/table/${number}`)
    },
    nextPage() {
      const number = parseInt(this.$route.params.tableId) + 1
      this.$router.push(`/table/${number}`)
    },
    checkPageNumber(number) {
      if (this.$route.params.tableId === number) {
        return true
      } else {
        return false
      }
    }
  },
  computed: {
    diablePreviousButton: function() {
      return this.checkPageNumber('0')
    },
    diableNextButton: function() {
      return this.checkPageNumber('9274')
    }
  }
}
</script>
