<template>
  <v-jumbotron>
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <h3 class="display-3">ERROR 404</h3>

          <span class="subheading">PAGE NOT FOUND</span>

          <v-divider class="my-3"></v-divider>

          <div class="title mb-3">GO BACK TO HOME PAGE</div>

          <v-btn class="mx-0" color="primary" large @click="$router.push('/')">
            HOME
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>
</template>
