<template>
  <v-card>
    <div v-if="!isLoading">
      <div v-if="this.$route.params.tableType">
        <v-card-title primary-title>
          <div class="headline">
            <v-layout>
              Total number of Tables : {{noOfTables}}
            </v-layout>
          </div>
        </v-card-title>
      </div>
      <v-container grid-list-lg>
        <v-layout row wrap d-inline-flex>
          <div v-for="table in listOfTables" :key="table.id">
            <v-flex xs12>
              <v-card color="cyan darken-2" class="white--text">
                <v-card-title primary-title>
                  <div class="headline">{{String(parseInt(table.id) + 1)}}. {{table.pageTitle}}</div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat dark @click="$router.push(`/table/${table.id}`)">Details</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </div>
        </v-layout>
      </v-container>
      <div v-if="this.$route.params.tableType"></div>
      <div class="text-xs-center" style="padding: 10px ; margin: 10px" v-else>
        <v-pagination v-model="page" :length="928" @input="goTo">
        </v-pagination>
      </div>
    </div>

    <Loading :value="isLoading" :message="message" />
  </v-card>
</template>
<script>
import axios from 'axios'
import Loading from '../components/Loading'
export default {
  components: { Loading },
  data() {
    return {
      isLoading: false,
      message: 'Please wait',
      listOfTables: [],
      page: 1,
      noOfTables: ''
    }
  },
  created() {
    this.isLoading = true
    if (this.$route.params.tableType) {
      axios({
        method: 'get',
        baseURL: 'https://detectify-challenge-server.herokuapp.com',
        url: '/WDC',
        params: {
          tableType: this.$route.params.tableType,
          tableOrientation: this.$route.params.tableOrientation,
          headerPosition: this.$route.params.headerPosition
        }
      })
        .then(response => {
          this.listOfTables = response.data
          this.noOfTables = this.listOfTables.length
          this.isLoading = false
        })
        .catch(error =>
          console.log('Error getting data from the server : ' + error)
        )
    } else {
      this.goTo()
    }
  },

  beforeRouteUpdate(to, from, next) {
    if (from.params.tableType) {
      this.goTo()
      next()
    } else {
      next()
    }
  },
  methods: {
    goTo() {
      axios({
        method: 'get',
        baseURL: 'https://detectify-challenge-server.herokuapp.com',
        url: '/WDC',
        params: {
          _page: this.page,
          _limit: 10
        }
      })
        .then(response => {
          this.listOfTables = response.data
          this.isLoading = false
        })
        .catch(error =>
          console.log('Error getting data from the server : ' + error)
        )
    }
  }
}
</script>
<style>
</style>
