<template>
  <v-card flat>
    <v-container fluid grid-list-md>
      <v-layout :row="isDesktop" :column="isMobile" wrap>
        <v-flex xs4>
          <v-card style="height: 350px">
            <v-card-title primary-title>
              <div class="headline">Types of Table</div>
            </v-card-title>
            <v-card-text>
              <v-container fluid>
                <v-flex>
                  <v-radio-group v-model="tableType" column>
                    <v-radio label="ENTITY" value="ENTITY"></v-radio>
                    <v-radio label="LAYOUT" value="LAYOUT"></v-radio>
                    <v-radio label="RELATION" value="RELATION"></v-radio>
                    <v-radio label="MATRIX" value="MATRIX"></v-radio>
                    <v-radio label="OTHER" value="OTHER"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card style="height: 350px">
            <v-card-title primary-title>
              <div class="headline">Orientation of Table</div>
            </v-card-title>
            <v-card-text>
              <v-container fluid>
                <v-flex>
                  <v-radio-group v-model="tableOrientation" column>
                    <v-radio label="HORIZONTAL" value="HORIZONTAL"></v-radio>
                    <v-radio label="VERTICAL" value="VERTICAL"></v-radio>
                    <v-radio label="MIXED" value="MIXED"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card style="height: 350px">
            <v-card-title primary-title>
              <div class="headline">Header Position</div>
            </v-card-title>
            <v-card-text>
              <v-container fluid>
                <v-flex>
                  <v-radio-group v-model="headerPosition" column>
                    <v-radio label="FIRST_ROW" value="FIRST_ROW"></v-radio>
                    <v-radio label="FIRST_COLUMN" value="FIRST_COLUMN"></v-radio>
                    <v-radio label="MIXED" value="MIXED"></v-radio>
                    <v-radio label="NONE" value="NONE"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-layout justify-center align-center>
          <v-btn color="primary" @click="$router.push(`/${tableType}/${tableOrientation}/${headerPosition}`)">
            <v-icon dark left>search</v-icon>Search
          </v-btn>
        </v-layout>
      </v-layout>
    </v-container>
  </v-card>
</template>
<script>
export default {
  name: 'SearchPage',
  data() {
    return {
      tableType: 'ENTITY',
      tableOrientation: 'HORIZONTAL',
      headerPosition: 'FIRST_ROW'
    }
  },
  computed: {
    isMobile: function() {
      if (/Mobi|Android/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    },
    isDesktop: function() {
      if (/Mobi|Android/i.test(navigator.userAgent)) {
        return false
      } else {
        return true
      }
    }
  }
}
</script>
