<template>
  <v-card>
    <div v-if="!isLoading">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card style="padding: 10px ; margin: 10px">
            <v-card-title primary-title>
              <div class="headline">Types of Table</div>
            </v-card-title>
            <v-layout row wrap align-center justify-center>
              <DoughnutChart :chartData="dataForTableType" :chartOptions="options" />
              <v-card style="padding: 20px ; margin: 20px; width: 300px" class="elevation-6">
                <v-list two-line subheader>
                  <v-list-tile>
                    <v-list-tile-content>
                      ENTITY : {{typeCount.entity}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      LAYOUT : {{typeCount.layout}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      RELATION : {{typeCount.relation}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      MATRIX : {{typeCount.matrix}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      OTHER : {{typeCount.other}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      <strong>TOTAL : {{typeCount.entity + typeCount.layout + typeCount.relation + typeCount.matrix + typeCount.other}}</strong>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card style="padding: 10px ; margin: 10px">
            <v-card-title primary-title>
              <div class="headline">Orientation of Table</div>
            </v-card-title>
            <v-layout row wrap align-center justify-center>
              <DoughnutChart :chartData="dataForOrientation" :chartOptions="options" />
              <v-card style="padding: 20px ; margin: 20px; width: 300px" class="elevation-6">
                <v-list two-line subheader>
                  <v-list-tile>
                    <v-list-tile-content>
                      HORIZONTAL : {{orientationCount.horizontal}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      VERTICAL :{{orientationCount.vertical}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      MIXED : {{orientationCount.mixed}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      <strong>TOTAL : {{orientationCount.horizontal + orientationCount.vertical + orientationCount.mixed}}</strong>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card style="padding: 10px ; margin: 10px">
            <v-card-title primary-title>
              <div class="headline">Header Position of Table</div>
            </v-card-title>
            <v-layout row wrap align-center justify-center>
              <DoughnutChart :chartData="dataForHeaderPosition" :chartOptions="options" />
              <v-card style="padding: 20px ; margin: 20px; width: 300px" class="elevation-6">
                <v-list two-line subheader>
                  <v-list-tile>
                    <v-list-tile-content>
                      FIRST_ROW : {{headerPositionCount.firstRow}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      FIRST_COLUMN : {{headerPositionCount.firstColumn}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      MIXED : {{headerPositionCount.mixed}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      NONE : {{headerPositionCount.none}}
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>
                      <strong>TOTAL : {{headerPositionCount.firstRow + headerPositionCount.firstColumn + headerPositionCount.mixed +headerPositionCount.none}}</strong>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </div>

    <Loading :value="isLoading" :message="message" />
  </v-card>
</template>
<script>
import axios from 'axios'
import DoughnutChart from '../components/Graph'
import Loading from '../components/Loading'

export default {
  name: 'StaticsPage',
  components: {
    DoughnutChart,
    Loading
  },
  data() {
    return {
      isLoading: false,
      message: 'Please wait',
      listOfTables: [],
      typeCount: {
        entity: 0,
        layout: 0,
        matrix: 0,
        relation: 0,
        other: 0
      },
      orientationCount: {
        horizontal: 0,
        vertical: 0,
        mixed: 0
      },
      headerPositionCount: {
        firstRow: 0,
        firstColumn: 0,
        mixed: 0,
        none: 0
      },
      dataForTableType: {},
      options: {},
      dataForOrientation: {},
      dataForHeaderPosition: {}
    }
  },
  created() {
    this.isLoading = true
    axios({
      method: 'get',
      baseURL: 'https://detectify-challenge-server.herokuapp.com',
      url: '/WDC'
    })
      .then(response => {
        this.listOfTables = response.data
        for (let index = 0; index < this.listOfTables.length; index++) {
          const table = this.listOfTables[index]
          if (table.tableType === 'ENTITY') {
            this.typeCount.entity++
          } else if (table.tableType === 'LAYOUT') {
            this.typeCount.layout++
          } else if (table.tableType === 'MATRIX') {
            this.typeCount.matrix++
          } else if (table.tableType === 'RELATION') {
            this.typeCount.relation++
          } else if (table.tableType === 'OTHER') {
            this.typeCount.other++
          } else {
            console.log('Exceptions in type : ' + table.id)
          }

          if (table.tableOrientation === 'HORIZONTAL') {
            this.orientationCount.horizontal++
          } else if (table.tableOrientation === 'VERTICAL') {
            this.orientationCount.vertical++
          } else if (table.tableOrientation === 'MIXED') {
            this.orientationCount.mixed++
          } else {
            console.log('Exception in orientation : ' + table.id)
          }

          if (table.headerPosition === 'FIRST_ROW') {
            this.headerPositionCount.firstRow++
          } else if (table.headerPosition === 'FIRST_COLUMN') {
            this.headerPositionCount.firstColumn++
          } else if (table.headerPosition === 'NONE') {
            this.headerPositionCount.none++
          } else if (table.headerPosition === 'MIXED') {
            this.headerPositionCount.mixed++
          } else {
            console.log('Exception in headerPosition : ' + table.id)
          }

          this.dataForTableType = {
            labels: ['ENTITY', 'LAYOUT', 'MATRIX', 'RELATION', 'OTHER'],
            datasets: [
              {
                label: 'Types of table',
                backgroundColor: [
                  '#F44336',
                  '#E91E63',
                  '#9C27B0',
                  '#2196F3',
                  '#3F51B5'
                ],
                data: [
                  this.typeCount.entity,
                  this.typeCount.layout,
                  this.typeCount.matrix,
                  this.typeCount.relation,
                  this.typeCount.other
                ],
                borderWidth: 1,
                borderColor: 'grey',
                hoverBorderWidth: 3,
                hoverBorderColor: 'black'
              }
            ]
          }

          this.options = {
            responsive: true,
            maintainAspectRatio: false
          }

          this.dataForOrientation = {
            labels: ['HORIZONTAL', 'VERTICAL', 'MIXED'],
            datasets: [
              {
                label: 'Orientation of table',
                backgroundColor: ['#2196F3', '#009688', '#00BCD4'],
                data: [
                  this.orientationCount.horizontal,
                  this.orientationCount.vertical,
                  this.orientationCount.mixed
                ],
                borderWidth: 1,
                borderColor: 'grey',
                hoverBorderWidth: 3,
                hoverBorderColor: 'black'
              }
            ]
          }
          this.dataForHeaderPosition = {
            labels: ['FIRST_ROW', 'FIRST_COLUMN', 'MIXED', 'NONE'],
            datasets: [
              {
                label: 'Orientation of table',
                backgroundColor: ['#FFEB3B', '#4CAF50', '#8BC34A', '#CDDC39'],
                data: [
                  this.headerPositionCount.firstRow,
                  this.headerPositionCount.firstColumn,
                  this.headerPositionCount.mixed,
                  this.headerPositionCount.none
                ],
                borderWidth: 1,
                borderColor: 'grey',
                hoverBorderWidth: 3,
                hoverBorderColor: 'black'
              }
            ]
          }
        }
        this.isLoading = false
      })
      .catch(error =>
        console.log('Error getting data from the server : ' + error)
      )
  }
}
</script>
