<template>
  <v-card>
    <div v-if="!isLoading">
      <v-card-title primary-title>
        <h3 class="headline mb-0"> {{String(parseInt(tableData.id) + 1)}}. {{tableData.pageTitle}} </h3>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn slot="activator" icon :href="tableData.url">
            <v-icon medium>link</v-icon>
          </v-btn>
          <span>URL</span>
        </v-tooltip>
      </v-card-title>
      <v-card style="padding: 20px ; margin: 20px" class="elevation-6">
        <v-card-title primary-title class="title"> General Information</v-card-title>
        <v-list two-line subheader>
          <v-list-tile>
            <v-list-tile-content>
              Table Type : {{tableData.tableType}}
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-content>
              Table Orientation : {{tableData.tableOrientation}}
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-content>
              Header Position : {{tableData.headerPosition}}
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-card style="padding: 20px ; margin: 20px" class="elevation-6">
        <v-card-title primary-title class="title"> Before Table Information</v-card-title>
        <p style="padding: 20px; word-wrap: break-word">{{tableData.textBeforeTable}}</p>
      </v-card>

      <SimpleTableDispay :data="tableData.relation"></SimpleTableDispay>

      <v-card style="padding: 20px ; margin: 20px" class="elevation-6">
        <v-card-title primary-title class="title"> After Table Information</v-card-title>
        <p style="padding: 20px; word-wrap: break-word">{{tableData.textAfterTable}}</p>
      </v-card>
    </div>

    <Loading :value="isLoading" :message="message" />
  </v-card>

</template>
<script>
import axios from 'axios'
import SimpleTableDispay from '../components/SimpleTableDispay'
import Loading from '../components/Loading'

export default {
  name: 'TableDataPage',
  components: { SimpleTableDispay, Loading },
  data() {
    return {
      tableData: {},
      isLoading: false,
      message: 'Please wait'
    }
  },
  computed: {
    isRelationalTable: function() {
      return this.checkTableType('RELATION')
    },
    isMatrixTable: function() {
      return this.checkTableType('MATRIX')
    },
    isLayout: function() {
      return this.checkTableType('LAYOUT')
    },
    isEntity: function() {
      return this.checkTableType('ENTITY')
    },
    isOther: function() {
      return this.checkTableType('OTHER')
    }
  },
  created() {
    this.isLoading = true
    this.getTableData(this.$route.params.tableId)
  },
  methods: {
    getTableData(id) {
      axios({
        method: 'get',
        baseURL: 'https://detectify-challenge-server.herokuapp.com',
        url: `/WDC/${id}`
      })
        .then(response => {
          console.log(response.data)
          this.tableData = response.data
          this.isLoading = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    checkTableType(type) {
      if (this.tableData.tableType === type) {
        return true
      } else {
        return false
      }
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.getTableData(to.params.tableId)
    next()
  }
}
</script>
